.card {
    width: 100%;
    height: 100%;
    background-color: transparent;
    fill: transparent;
    overflow: hidden;
    position: relative;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,sans-serif;
}

.card-bg {
    stroke-width: 0.12em;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.separate-line {
    stroke: #8899a6;
    stroke-width: 0.05em;
    stroke-opacity: 0.3;
}

.title {
    font-size: 1em;
    white-space: nowrap;
    font-weight: 700;
    fill: #333;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
    text-overflow: ellipsis;
    max-height: 1.3em;
}

.desc {
    height: 2.6em;
    max-width: 500px;
    margin-top: .32333em;
    line-height: 1.3em;
    letter-spacing: normal;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    fill: #333;
}

.link {
    display: block;
    fill: #8899a6;
    font-size: .9em;
    margin-top: 1em;
    text-decoration: none;
    line-height: 1.3125;
    text-transform: lowercase;
    text-overflow: ellipsis;
    font-weight: 400;
}